.courseCard {
padding-top: 1rem;
text-align: center;
}

.courseTitle {
text-align: center;
font-size: 40px;
}

.courseAlt {
 text-align: center;
 font-size: 20px;
}

.links{
  color: lightblue
}
.links:hover{
  color: green;
  text-decoration: none;
  transition: ease-in 0.5s;
}

.coursePrice {
text-align:center;
padding-top: 20px;
font-size: 30px;
}

.courseDescription {
  text-align: left !important;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
}

.courseImg{
  text-align: center;
}

.aboutHeadshot {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 30rem;
  width: 30rem;
  display: block;
  margin: 0 auto;
}

.courseB {
  margin: 0 auto;
  
}

.courseControl {
  padding-bottom: 1.5rem;
}