.infoControl {
  margin: 0 auto;
  text-align: center;
  background-color:  #b21e35;
  
}

.banner {
  width: 100%;
  height: 1px;
}

.banner2 {
  width: 100%;
  height: 1px;
}

.container1 {
  padding-top: 15px;
  border-radius: 25px;
  background-color: #49464693;
  width: 40vw;
}

.infoButton {
  margin: 0 auto;
}

.infoInput {
  display: block;
  background: transparent;
  border: 0;
  border-bottom: 2px solid#fcfbfb;
  padding: 2px;
  width:70% !important;
  margin: 0 auto;
  color: white;
}

.infoTitle {
  color: white;
  width: 30vw;
  margin: 0 auto;
}

::placeholder {
  color: white;
}

.infoReq {
  color: white;
}

.logo2 {
  display:inline-block;
  position: relative;
  
}

.infoLine {
    display: flex;
    justify-content: space-between;
}

.slideshow{
  margin: 100px auto;
  width: 100%;
  height: auto;
}