/* *{
  box-sizing: border-box;
  padding:0;
  margin: 0;
} */

.landingControl {
  margin: 0 auto;
  background-image: linear-gradient(#b21e35,#6e1423);
  padding-bottom: 10rem;
  color: white
}

.slideshow{
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid black; */
  box-shadow: black .1rem 1.5rem 3rem .001rem;
}

.links{
  color: lightblue
}
.links:hover{
  color: green;
}

.landingTop{
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  
}
.landingTitle {
 text-align: center;
 font-weight: bold;
 font-size: 5vw;
}

.landingMotto {
  text-align: center;
  font-size: 4vw;
  
}

.messageDescription {
  text-align: center;
}

.slideshowCaption {
background-color: rgba(0, 0, 0, 0.4);
}

.slideshowText_Header {

 font-size: 50px;
 font-weight: bold;
}

.slideshowText {
  font-weight: bold;
  font-size: 15px;
}

.d-block {
 
}

.contactControl {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 80%;
    margin: 0 auto;
}

.contactButton {
  margin: 0 auto;
}