.aboutControl{
   padding: 5vw; 
  background-image: linear-gradient(red,rgb(250, 250, 250));
}
.aboutTop{
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.801) .1rem 1.5rem 3rem .001rem;
}

.aboutDescription {
    text-align: left !important;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    /* color: white; */
}

.aboutTitle {
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  text-decoration: underline;
  /* color: white; */
 }

 .aboutTop {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
 }

 .aboutHeadshot {
    height: 45vw;
    width: 40vw;
    /* padding-left: 5%; */
  
 }